.price {
    font-size: 40px;
}

.buy {
    min-width: 150px;
}

.btn-secondary {
    width: 100%;
}

.view {
    width: 100%;
}

.basbtn {
    display: flex;
    justify-content: flex-end;
}

.baskedbtn {
    min-width: 100px;
}

.card-text{
    white-space: nowrap;
    width: 100%;
    overflow:  hidden;
    text-overflow: ellipsis;
    border: 1px solid #ffffff; 
}