.card {
    margin-bottom: 15px;

}
.card-img-top{
    max-height: 200px;
    min-height: 200px;
}

.card-text{
    white-space: nowrap;
    width: 100%;
    overflow:  hidden;
    text-overflow: ellipsis;
    border: 1px solid #ffffff; 
}

.cat-button{
    width: 100px;
}

.col{
    overflow: hidden;
    margin-bottom: 15px;
    max-width: 338px;
    min-width: 338px;
}

.body {
    overflow: hidden;
}

.basbtn {
    display: flex;
    justify-content: flex-end;
}

.price {
    font-size: 20px;
}

.baskedbtn {
    min-width: 100px;
}

.price-input {
    width: 90px;
    display: flex;
}

.price-input .field{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

}

.field input{
    width: 60px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.field .input-min {
    margin-left: 20px;
}

.price-input .separator {
    font-size: 20px;
}

.slider{
    height: 5px;
    border-radius: 5px;
    position: relative;
    background: #999;
    margin-top: 10px;
    margin-bottom: 10px;
}

.range-input {
    position: relative;
}

.range-input input{
    position: absolute;
    top: -5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: rgb(39, 88, 248);
}
input[type="range"]::-moz-range-thumb{
    height: 14px;
    width: 14px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: rgb(39, 88, 248);
}